html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

header {
  border: 1px solid black;
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: mediumaquamarine;
}

.images-name {
  display: flex;
  align-items: center;
  margin-left: 20px;
  height: 100%;
  width: 100%;
}

.images-name img {
  margin-right: 10px;
}

.main-nav{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 15px;
  height: 100%;
  width: 100%;
}

nav span a {
  color: black;
  margin: 0 20px;
}

.main-container {
  border: 1px solid black;
  margin: 0 auto;
  display: inline-flex;
}

.col {
  border: 1px solid black;
  margin-right: 20px;
  flex-shrink: 0;
}

#col1 {
  width: 630px;
}

#col2 {
  width: 300px;
}

#col3 {
  width: 240px;
  margin-right: 45px;
  overflow: hidden;
}

#main-story {
  border: 1px solid black;
}

.secondary-story {
  border: 1px solid black;
  display: flex;
}

.box {
  border: 1px solid black;
  width: 100%;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.story-image {
  height: 300px;
}

.story-image p{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 100%;
}

#main-story .story-image p{
  font-size: 40px;
}

#box1 {
  display: flex;
  background-image: url("../images/wine.png");
}

#box2{
}

#box3{
  margin-bottom: 15px;
}

#box4 {
  display: flex;
  background-image: url("../images/fall-season.png");
  background-repeat: no-repeat;
}

#box5 {
  margin-bottom: 15px;
}

#box6 {
  display: flex;
  background-image: url("../images/hipster-camera.png");
  background-repeat: no-repeat;
}

#box7 {
  margin-bottom: 15px;
}

#box8 {
  display: flex;
  background-image: url("../images/cat-ceo.png");
}

#box9 {
}

#box10{
}
#box1 p {
  margin-top: 0;
  margin-bottom: 0;
}

#box4 p {
  margin-top: 0;
  margin-bottom: 0;
}

#box6 p {
  margin-top: 0;
  margin-bottom: 0;
}

/* *****NOTES*****
  1. The main page does not seem to be flex, since the columns don't seem like it's growing or shrinking as we increase or decrease the display size of our browser
  */
